

.menu-button {
    color:#454545;
    background:transparent;
    border-width:2px;
    border-style: solid;
    border-color: #454545;
    position:relative;
    margin:1em;
    display:inline-block;
    padding:0.5em 1em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:comfortaa;font-weight:bold}
.menu-button:before, .menu-button:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.3s ease-in-out
}
.menu-button:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
    
}
.menu-button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
    
}
.menu-button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#fff}
.menu-button:hover {
    color:#353535;
    background-color:#fff;
    border-color:#fff}
.panel {
    max-width:960px;
    text-align:center;
    position:relative;
    margin:auto;
}

.skyblue .menu-button {
    z-index:33;
    color:#13b1c0;
    border-color:#13b1c0;
}
.skyblue .menu-button:before, .skyblue button:after  {
    border-color:#13b1c0;
}
.skyblue .menu-button:hover:before, .pink button:hover:after {
    border-color:#13b1c0;
}
.skyblue .menu-button:hover {
    color:#fff;
    background-color:#13b1c0;
    z-index:22;
    border-color:#13b1c0;
}
.skyblue .panel {
    max-width:960px;
    text-align:center;
    position:relative;
    margin:auto;
    
}


